/* tablet */
@media (max-width: 992px){
   #hero{
    padding-left: 20px;
    padding-right: 20px;
   }

   #contact{
    padding-left: 20px;
    padding-right: 20px;
   }

   .img-local{
    justify-content:flex-end;
    align-content:flex-end ;
    
   }
   
   .img-local img{
    width: 100% ;
    padding-left: 20px;
   }
   

}

@media (max-width: 576px){
    main{
        max-width: ;
    }
    
    .hero-img{
        display:none ;
    }





}