@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    height: 65px;
}

body{
    font-family: 'Rubik', sans-serif;
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */






}
  /* =====================Navbar===================== */

.logo{
    width: 30px;
}

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 1rem;
}

ul{
    list-style: none;
    display: flex;
    gap: 15px;
}

ul a{
    color: whitesmoke;
    text-decoration: none;
}

/* =====================Hero Section===================== */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: whitesmoke;
}

#hero{
    max-width: 1200px;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.hero-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 50%;
    margin-right: 20px;


}



.hero-info h1{
    font-size: 40px;
   
}

.hero-info p{
    font-size: 20px;
    width: 80%;
}


.hero-info a{
    color: whitesmoke;
    text-decoration: none;
    background-color:#141E30;
    padding: 8px 12px;
    border-radius: 8px;
    
    

}




.hero-img img{
    width: 500px;
    
    
}

/* =====================Info Section===================== */

#info{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   margin-top: 85px;
    max-width: 1200px;

}


.info{ 
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 15px
}


.info h2{
    font-size: 25px;
}


.info p{
    width: 50%;
    font-size: 18px;
}


/* =====================Cards Section===================== */

#cards{
    display:flex ;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin: 85px 0px;
    max-width: 1200px;
    gap: 20px;

}
.cards{
    display:flex ;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:#1d2232;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 300px;
    gap: 15px;
    padding: 20px;
}


.cards img{
    width: 15%;
}

.cards h2{
    font-size: 20px;
}


.cards p{
    width: 80%;
    align-content: center;
    justify-content: center;
}

/* =====================Contact Section===================== */

.local-1 img{
    width: 20px;
    background-color:#1d2232 ;
}



